<ion-header>
  <ion-toolbar>
    <ion-title>Votre compte</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Votre compte</ion-title>
    </ion-toolbar>
  </ion-header>
  <form [formGroup]="accountForm" (ngSubmit)="onSubmit()">
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label>
            Vous êtes ? *
          </ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label>Un homme</ion-label>
          <ion-radio formControlName="genre" value="male" slot="start" name="genre"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Une femme</ion-label>
          <ion-radio formControlName="genre" value="female" slot="start" name="genre"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-item>
      <ion-label>Nom *</ion-label>
      <ion-input formControlName="lastName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Prénom *</ion-label>
      <ion-input formControlName="firstName" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Email *</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Mot de passe *</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Confirmation du mot de passe *</ion-label>
      <ion-input formControlName="confirm" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Votre adresse</ion-label>
      <ion-input formControlName="adress" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Code postal</ion-label>
      <ion-input formControlName="zipCode" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Ville</ion-label>
      <ion-input formControlName="city" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Téléphone</ion-label>
      <ion-input formControlName="phone" type="tel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Téléphone mobile *</ion-label>
      <ion-input formControlName="mobile" type="tel"></ion-input>
    </ion-item>
    <ion-button type="submit" color="success" expand="block">Modifier votre compte</ion-button>
  </form>
</ion-content>