<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blogs
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-button *ngIf="auth.authToken" color="primary" routerLink="/blog-creation">Créer votre blog</ion-button>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Liste des blogs</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="search-display">
    <div class="search-container">
      <input class="input-search" type="search" [(ngModel)]="searchText" placeholder="Rechercher un blog" name="search"
        id="search">
      <label for="search" class="input-search-label">Chercher un blog</label>
    </div>
  </div>


  <div *ngFor="let blog of (blogs | filter: searchText)">

    <ion-card (click)="onNavigate(blog)">
      <ion-card-header [innerHTML]="blog.title"></ion-card-header>
      <ion-card-content [innerHTML]="blog.headline"></ion-card-content>

    </ion-card>
  </div>
</ion-content>