<ion-header>
  <ion-toolbar>
    <ion-title>Se connecter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
    <ion-item>
      <ion-label>Votre identifiant</ion-label>
      <ion-input formControlName="login" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Votre mot de passe</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <ion-button color="success" type="submit" expand="block">Se connecter</ion-button>
  </form>

  <ion-button (click)="onOpen = !onOpen" expand="block">Ou vous souhaitez créer un compte</ion-button>

  <div *ngIf="onOpen">
    <form [formGroup]="creationForm" (ngSubmit)="onCreate()">
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              Vous êtes ? *
            </ion-label>
          </ion-list-header>
          <ion-item>
            <ion-label for="male">un homme</ion-label>
            <ion-radio formControlName="genre" id="male" value="male" type="radio" slot="start"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label for="female">une femme</ion-label>
            <ion-radio formControlName="genre" id="female" value="female" type="radio" slot="start"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
      <ion-item>
        <ion-label>Nom *</ion-label>
        <ion-input formControlName="lastName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Prénom *</ion-label>
        <ion-input formControlName="firstName" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Email *</ion-label>
        <ion-input formControlName="email" type="email"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Mot de passe *</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Confirmation du mot de passe *</ion-label>
        <ion-input formControlName="confirm" type="password"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Votre adresse</ion-label>
        <ion-input formControlName="adress" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Code postal</ion-label>
        <ion-input formControlName="zipCode" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Ville</ion-label>
        <ion-input formControlName="city" type="text"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Téléphone</ion-label>
        <ion-input formControlName="phone" type="tel"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Téléphone mobile *</ion-label>
        <ion-input formControlName="mobile" type="tel"></ion-input>
      </ion-item>
      <ion-button type="submit" color="success">Créer votre compte</ion-button>
    </form>
  </div>

</ion-content>