.blog-title {
    text-align: center;
    font-weight: bolder;
    font-size: 22px;
}

.blog-author {
    text-align: center;
}

.blog-description {
    margin: 0 15px 0 15px;
    text-align: justify;
}

.post-title {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.post-content {
    margin: 0 15px 0 15px;
    text-align: justify;
}