<h2 [innerHTML]="post.title" class="post-title"></h2>
<div [innerHTML]="post.content" class="post-content"></div>
<div *ngIf="post.comments.length === 0">
  <p>Soyez le premier à réagir !</p>
  <ion-button color="primary" expand="block">Réagir !</ion-button>
</div>
<div *ngIf="post.comments.length > 0">
  <p class="reaction">Ils ont réagit :</p>
  <hr>
  <div *ngFor="let comment of post.comments">
    <p [innerHTML]="comment.comments.content" class="comment-content"></p>
    <div class="comment-date">Ecrit par {{comment.comments.author}} le {{comment.comments.date | date:
      'dd/mm/yyyy'}} à
      {{comment.comments.date | date: 'HH:mm'}}</div>
    <hr>
  </div>
</div>
<ion-button color="primary" expand="block">Réagir !</ion-button>