<div *ngIf="isLoaded">
  <h2 [innerHTML]="post.title" class="post-title"></h2>
  <div class="date-post">Le {{post.date | date : 'dd/MM/yyyy'}} à {{post.date | date :'HH:mm'}}</div>
  <div [innerHTML]="post.content" class="post-content"></div>
  <div *ngIf="post.comments.length === 0">
    <p>Soyez le premier à réagir !</p>
  </div>
  <div *ngIf="post.comments.length > 10">
    <ion-button color="primary" expand="block" *ngIf="auth.authToken && !onShow" (click)="onShow = true">Réagir !
    </ion-button>
    <form [formGroup]="commentCreationForm" (ngSubmit)="onCreateComment()" *ngIf="onShow">
      <ion-textarea formControlName="content"></ion-textarea>
      <ion-button type="submit" expand="block" color="success">Réagir</ion-button>
    </form>
    <p class="reaction">Ils ont réagit :</p>
    <hr>
    <div *ngFor="let comment of post.comments">
      <p [innerHTML]="comment.comments.content" class="comment-content"></p>
      <div class="comment-date">Ecrit par {{comment.comments.author}} le {{comment.comments.date | date:
        'dd/MM/yyyy'}} à
        {{comment.comments.date | date: 'HH:mm'}}</div>
      <hr>
    </div>
  </div>
  <ion-button color="primary" expand="block" *ngIf="auth.authToken && !onShow" (click)="onShow = true">Réagir !
  </ion-button>
  <form [formGroup]="commentCreationForm" (ngSubmit)="onCreateComment()" *ngIf="onShow">
    <ion-textarea formControlName="content"></ion-textarea>
    <ion-button type="submit" expand="block" color="success">Réagir</ion-button>
  </form>
</div>