<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Actualités
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Actualités</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Actualités COVID : La vaccination s'accélère.</ion-card-title>
    </ion-card-header>
    <ion-card-content>La ville de Calais (Pas-de-Calais) souhaite multiplier le rythme de la vaccination par six.
      L’objectif pour l’un
      des centres de vaccination de la ville est de passer de 300 personnes vaccinées par semaine à 1 800 grâce à
      l’arrivée de doses supplémentaires. Les équipes se préparent à vacciner tout le week-end. Pour accélérer la
      cadence, 135 000 doses ont été envoyées en urgence aux 23 départements les plus touchés par l’épidémie. ...
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Actualités COVID : La vaccination s'accélère.</ion-card-title>
    </ion-card-header>
    <ion-card-content>La ville de Calais (Pas-de-Calais) souhaite multiplier le rythme de la vaccination par six.
      L’objectif pour l’un
      des centres de vaccination de la ville est de passer de 300 personnes vaccinées par semaine à 1 800 grâce à
      l’arrivée de doses supplémentaires. Les équipes se préparent à vacciner tout le week-end. Pour accélérer la
      cadence, 135 000 doses ont été envoyées en urgence aux 23 départements les plus touchés par l’épidémie. ...
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Actualités COVID : La vaccination s'accélère.</ion-card-title>
    </ion-card-header>
    <ion-card-content>La ville de Calais (Pas-de-Calais) souhaite multiplier le rythme de la vaccination par six.
      L’objectif pour l’un
      des centres de vaccination de la ville est de passer de 300 personnes vaccinées par semaine à 1 800 grâce à
      l’arrivée de doses supplémentaires. Les équipes se préparent à vacciner tout le week-end. Pour accélérer la
      cadence, 135 000 doses ont été envoyées en urgence aux 23 départements les plus touchés par l’épidémie. ...
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Actualités COVID : La vaccination s'accélère.</ion-card-title>
    </ion-card-header>
    <ion-card-content>La ville de Calais (Pas-de-Calais) souhaite multiplier le rythme de la vaccination par six.
      L’objectif pour l’un
      des centres de vaccination de la ville est de passer de 300 personnes vaccinées par semaine à 1 800 grâce à
      l’arrivée de doses supplémentaires. Les équipes se préparent à vacciner tout le week-end. Pour accélérer la
      cadence, 135 000 doses ont été envoyées en urgence aux 23 départements les plus touchés par l’épidémie. ...
    </ion-card-content>
  </ion-card>
</ion-content>